---
layout: archive
permalink: /tags/
title: "Posts by Tags"
author_profile: false
---
[<a href="https://truongle1110.github.io/tags/#travel">travel</a>]
[<a href="https://truongle1110.github.io/tags/#research">research</a>]
[<a href="https://truongle1110.github.io/tags/#nonsense">nonsense</a>]
[<a href="https://truongle1110.github.io/tags/#music">music</a>]
[<a href="https://truongle1110.github.io/tags/#memory">memory</a>]
[<a href="https://truongle1110.github.io/tags/#life">life</a>]
[<a href="https://truongle1110.github.io/tags/#confession">confession</a>]

{% include base_path %}
{% include group-by-array collection=site.posts field="tags" %}

{% for tag in group_names %}
  {% assign posts = group_items[forloop.index0] %}
  <h2 id="{{ tag | slugify }}" class="archive__subtitle">{{ tag }}</h2>
  {% for post in posts %}
    {% include archive-single.html %}
  {% endfor %}
{% endfor %}